billing_account            = "XXXXXX-XXXXXX-XXXXXX"
github_repository_owner_id = "858665" # guitarpastdusk

# project_suffix = "-a7"   # if albusforge-{ci,staging,prod} is taken
# prod_budget_usd = 500
